body {
    background-image: linear-gradient(to right, rgb(206, 43, 43), rgb(255, 153, 0));
}

.no-yolo {

    background-color: black;
    color: azure;
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 60px;
    border-radius: 30px;
    border-color: aliceblue;
    border-width: 3px;
    border-style: groove;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    font-size: xx-large;
    cursor: pointer;
}

.yes-yolo {
    background-color: black;
    color: azure;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
border-radius: 30px ;
border-color: aliceblue;
border-style: dashed;
}